/* theme: obsidian_flux (default Black Meet palette) */
:root {
  --bm-outline-variant: 70 69 85;
  --bm-background: 11 19 38;
  --bm-surface-container-highest: 45 52 73;
  --bm-tertiary-container: 191 15 60;
  --bm-on-surface: 218 226 253;
  --bm-surface-container-lowest: 6 14 32;
  --bm-primary-fixed-dim: 195 192 255;
  --bm-inverse-primary: 77 68 227;
  --bm-on-tertiary-fixed: 64 0 13;
  --bm-primary-container: 79 70 229;
  --bm-on-tertiary-container: 255 208 210;
  --bm-error: 255 180 171;
  --bm-inverse-surface: 218 226 253;
  --bm-primary: 195 192 255;
  --bm-on-primary-fixed-variant: 51 35 204;
  --bm-surface-dim: 11 19 38;
  --bm-on-secondary-container: 0 49 31;
  --bm-secondary-container: 0 165 114;
  --bm-on-surface-variant: 199 196 216;
  --bm-secondary: 78 222 163;
  --bm-outline: 145 143 161;
  --bm-tertiary-fixed: 255 218 219;
  --bm-error-container: 147 0 10;
  --bm-on-secondary: 0 56 36;
  --bm-primary-fixed: 226 223 255;
  --bm-on-error-container: 255 218 214;
  --bm-on-tertiary: 103 0 27;
  --bm-on-secondary-fixed-variant: 0 82 54;
  --bm-surface-variant: 45 52 73;
  --bm-inverse-on-surface: 40 48 68;
  --bm-on-secondary-fixed: 0 33 19;
  --bm-surface-bright: 49 57 77;
  --bm-on-background: 218 226 253;
  --bm-on-error: 105 0 5;
  --bm-tertiary-fixed-dim: 255 178 183;
  --bm-surface-container-low: 19 27 46;
  --bm-surface: 11 19 38;
  --bm-secondary-fixed: 111 251 190;
  --bm-tertiary: 255 178 183;
  --bm-on-tertiary-fixed-variant: 146 0 42;
  --bm-secondary-fixed-dim: 78 222 163;
  --bm-on-primary-fixed: 15 0 105;
  --bm-surface-tint: 195 192 255;
  --bm-surface-container: 23 31 51;
  --bm-on-primary: 29 0 165;
  --bm-surface-container-high: 34 42 61;
  --bm-on-primary-container: 218 215 255;
}
